body {
	text-align: center;
	background-color: whitesmoke;
}

h1 {
	font-size: 100px;
	color: crimson;
}

.card-layout {
	height: 980px;
	display: flex;
	margin-top: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

.card-layout .product {
	position: relative;
	padding: 100px;
	z-index: 1;
	border: 3px solid black;
	box-sizing: border-box;
	background-color: antiquewhite;
}

.card-layout .product-id {
	font-size: larger;
	color: firebrick;
}

.card-layout img {
	padding-top: 10px;
	width: 300px;
	height: 300px;
	box-sizing: border-box;
}

.card-layout .product-title {
	max-width: 300px;
	text-align: center;
}

.card-layout .product-description {
	max-width: 300px;
	text-align: left;
}

.details-container {
	position: relative;
	margin-top: 20px;
}
  
.details-container details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
